[submodule "dependencies/cxxopts"]
	path = dependencies/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
